header {
  position: relative;
  top: 5rem;
  height: 70vh;
  margin-bottom: 7rem;
  overflow: hidden;
  /* margin-bottom: 5rem; */
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7rem;
  height: 100%;
}
.header_left p {
  margin: 1rem 0 2.4rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 52vh;
    margin-bottom: 2rem;
  }
  .header__container {
    gap: 0;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 600px) {
  /* =================HEADER=============== */
  header {
    height: 100vh;
  }
  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 1rem;
  }
  .header_left p {
    margin-bottom: 1.2rem;
  }
}
